/* Colors */

/* Speed Blue: #013369; */
/* White: #ffffff; */
/* Facemask Gray: #a5acaf; */
/* Anvil Black: #10252c; */

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a5acaf;
  padding: 12px 0 12px 1rem;
  display: flex;
}

.logoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a img {
  max-width: 84px;
  height: 84px;
  padding-right: 120px;
}

h1 {
  font-size: 2.5rem;
  color: #013369;
}

h2 {
  font-size: 1.5rem;
  color: #10252c;
}

.player-data {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 240px;
  margin: 1rem 1rem 12px 1rem;
  border: 2px solid #013369;
  border-radius: 6px;
  padding-left: 1rem;
  box-shadow: 1px 1px 4px #10252c;
}

img {
  max-width: 200px;
  height: 150px;
}

.player-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.num-position {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.playerNum, .playerPos {
  display: flex;
  flex-direction: row;
}